



    /************/
   /*          */
  /*   Base   */
 /*          */
/************/



html, body {
	
	width:  100%;
	height: 100%;
}
body {
	
	background-color: white;
	vertical-align: top;
	overflow: hidden;
}



body, h1, h2 {

	margin:  0;
	border:  0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   20px;
	line-height: 15px;
}
#container{
	margin-top:-100px;
	width:  100%;
	height: 100%;
}

#fail{

	display: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	overflow: hidden;

}

.colorPicker{
	margin-top:30px;
	text-align:center;
}

.cubeOperations{
	margin-top:10px;
	text-align:center;
}

.cubeOperations > img{
	width:133px;
	height:35px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  width:40px;
  height:40px;
}

label > #white:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleWhiteChecked.png);
}

label > #red:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleRedChecked.png);
}

label > #green:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleGreenChecked.png);
}

label > #blue:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleBlueChecked.png);
}

label > #orange:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleOrangeChecked.png);
}

label > #yellow:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  content: url(circleYellowChecked.png);
}

#fail > h1 { font-size: 6em; line-height: 2em; }
#fail > h2 { font-size: 3em; line-height: 1em; }


@media not screen and (-webkit-transform-3d)
{
	#container{
		visibility: hidden;
	}
	#fail{
		display: block;
	}
}

.message {
	margin-top:5%;
	text-align:center;
	width:100%;
	height:100px;
}







